<a href="https://colab.research.google.com/github/JongHyun070105/MachineLearning2025/blob/main/3710%EB%B0%95%EC%A2%85%ED%98%84_groupby_pivot_table_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd

data = {
    '지점': ['강남점', '홍대점', '신촌점', '명동점', '잠실점', '강남점', '홍대점', '신촌점', '명동점', '잠실점',
           '강남점', '홍대점', '신촌점', '명동점', '잠실점', '강남점', '홍대점', '신촌점', '명동점', '잠실점'],
    '월': [1, 1, 2, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
    '요일': ['월', '화', '수', '목', '금', '토', '일', '월', '화', '수',
           '목', '금', '토', '일', '월', '화', '수', '목', '금', '토'],
    '음료수': ['아메리카노', '카페라떼', '콜드브루', '바닐라라떼', '초코라떼',
             '아메리카노', '카페라떼', '콜드브루', '바닐라라떼', '초코라떼',
             '아메리카노', '카페라떼', '콜드브루', '바닐라라떼', '초코라떼',
             '아메리카노', '카페라떼', '콜드브루', '바닐라라떼', '초코라떼'],
    '판매수량': [20, 35, 30, 22, 18, 27, 40, 33, 19, 25,
             28, 36, 29, 21, 17, 30, 38, 31, 20, 16],
    '총매출': [80000, 157500, 150000, 114400, 86400,
            108000, 180000, 165000, 98800, 120000,
            112000, 162000, 145000, 109200, 81600,
            120000, 171000, 155000, 104000, 76800]
}

df = pd.DataFrame(data)
df

     지점  월 요일    음료수  판매수량     총매출
0   강남점  1  월  아메리카노    20   80000
1   홍대점  1  화   카페라떼    35  157500
2   신촌점  2  수   콜드브루    30  150000
3   명동점  2  목  바닐라라떼    22  114400
4   잠실점  3  금   초코라떼    18   86400
5   강남점  1  토  아메리카노    27  108000
6   홍대점  2  일   카페라떼    40  180000
7   신촌점  3  월   콜드브루    33  165000
8   명동점  1  화  바닐라라떼    19   98800
9   잠실점  2  수   초코라떼    25  120000
10  강남점  3  목  아메리카노    28  112000
11  홍대점  1  금   카페라떼    36  162000
12  신촌점  2  토   콜드브루    29  145000
13  명동점  3  일  바닐라라떼    21  109200
14  잠실점  1  월   초코라떼    17   81600
15  강남점  2  화  아메리카노    30  120000
16  홍대점  3  수   카페라떼    38  171000
17  신촌점  1  목   콜드브루    31  155000
18  명동점  2  금  바닐라라떼    20  104000
19  잠실점  3  토   초코라떼    16   76800

In [3]:
#Q1. 지점별 총매출의 합계를 구하시오.

df.groupby('지점')['총매출'].sum()

지점
강남점    420000
명동점    426400
신촌점    615000
잠실점    364800
홍대점    670500
Name: 총매출, dtype: int64

In [5]:
# Q2. 월별 평균 판매수량을 구하시오.


df.groupby('월')['판매수량'].mean()

월
1    26.428571
2    28.000000
3    25.666667
Name: 판매수량, dtype: float64

In [6]:
# Q3. 요일별 총매출 평균을 구하시오.


df.groupby('요일')['총매출'].mean()

요일
금    117466.666667
목    127133.333333
수    147000.000000
월    108866.666667
일    144600.000000
토    109933.333333
화    125433.333333
Name: 총매출, dtype: float64

In [9]:
# Q4. 음료수 종류별로 총 판매수량을 구하시오.

df.groupby('음료수')['판매수량'].sum()

음료수
바닐라라떼     82
아메리카노    105
초코라떼      76
카페라떼     149
콜드브루     123
Name: 판매수량, dtype: int64

In [21]:
# Q5. 각 지점에서 가장 많이 판매된 음료수의 총매출 평균을 구하시오.
# (지점별로 각 음료의 평균 매출을 보고자 함)


df.groupby(['지점','음료수'])['총매출'].mean()

지점   음료수
강남점  아메리카노    105000.0
명동점  바닐라라떼    106600.0
신촌점  콜드브루     153750.0
잠실점  초코라떼      91200.0
홍대점  카페라떼     167625.0
Name: 총매출, dtype: float64

In [22]:
# Q6. 지점별·월별 총매출 합계를 구하시오.

df.groupby(['지점','월'])['총매출'].sum()

지점   월
강남점  1    188000
     2    120000
     3    112000
명동점  1     98800
     2    218400
     3    109200
신촌점  1    155000
     2    295000
     3    165000
잠실점  1     81600
     2    120000
     3    163200
홍대점  1    319500
     2    180000
     3    171000
Name: 총매출, dtype: int64

In [23]:
# Q7. 음료수별로 판매된 평균 수량과 평균 총매출을 구하시오.


df.groupby('음료수')[['판매수량','총매출']].mean()

        판매수량       총매출
음료수
바닐라라떼  20.50  106600.0
아메리카노  26.25  105000.0
초코라떼   19.00   91200.0
카페라떼   37.25  167625.0
콜드브루   30.75  153750.0

In [40]:
# 요일별 지점별 음료수 판매수량 합계를 구하시오.

pd.pivot_table(df,index = ['요일','지점'], columns = '음료수', values = '판매수량', aggfunc='sum', fill_value=0)

음료수     바닐라라떼  아메리카노  초코라떼  카페라떼  콜드브루
요일 지점
금  명동점     20      0     0     0     0
   잠실점      0      0    18     0     0
   홍대점      0      0     0    36     0
목  강남점      0     28     0     0     0
   명동점     22      0     0     0     0
   신촌점      0      0     0     0    31
수  신촌점      0      0     0     0    30
   잠실점      0      0    25     0     0
   홍대점      0      0     0    38     0
월  강남점      0     20     0     0     0
   신촌점      0      0     0     0    33
   잠실점      0      0    17     0     0
일  명동점     21      0     0     0     0
   홍대점      0      0     0    40     0
토  강남점      0     27     0     0     0
   신촌점      0      0     0     0    29
   잠실점      0      0    16     0     0
화  강남점      0     30     0     0     0
   명동점     19      0     0     0     0
   홍대점      0      0     0    35     0

In [30]:
# 지점별로 월마다의 총매출 합계를 피벗 테이블로 구하시오.

df.pivot_table(index='지점', columns = '월', values='총매출', aggfunc='sum')

월         1       2       3
지점
강남점  188000  120000  112000
명동점   98800  218400  109200
신촌점  155000  295000  165000
잠실점   81600  120000  163200
홍대점  319500  180000  171000

In [34]:
# 음료수별로 요일마다 평균 판매수량을 구하는 피벗 테이블을 만드시오.

df.pivot_table(index='음료수', columns = '요일', values='판매수량', aggfunc='mean', fill_value=0)

요일        금     목     수     월     일     토     화
음료수
바닐라라떼  20.0  22.0   0.0   0.0  21.0   0.0  19.0
아메리카노   0.0  28.0   0.0  20.0   0.0  27.0  30.0
초코라떼   18.0   0.0  25.0  17.0   0.0  16.0   0.0
카페라떼   36.0   0.0  38.0   0.0  40.0   0.0  35.0
콜드브루    0.0  31.0  30.0  33.0   0.0  29.0   0.0

In [32]:
# 지점과 월을 기준으로, 평균 총매출과 평균 판매수량을 함께 표시하는 피벗 테이블을 만드시오.


df.pivot_table(index='지점', columns = '월', values=['총매출','판매수량'], aggfunc='mean')

          총매출                      판매수량
월           1         2         3     1     2     3
지점
강남점   94000.0  120000.0  112000.0  23.5  30.0  28.0
명동점   98800.0  109200.0  109200.0  19.0  21.0  21.0
신촌점  155000.0  147500.0  165000.0  31.0  29.5  33.0
잠실점   81600.0  120000.0   81600.0  17.0  25.0  17.0
홍대점  159750.0  180000.0  171000.0  35.5  40.0  38.0

In [33]:
# 각 월별로 가장 많이 팔린 음료수의 총 판매수량을 비교할 수 있도록 피벗 테이블을 만드시오.
# (→ 월: index, 음료수: columns)

df.pivot_table(index='월', columns = '음료수', values='판매수량', aggfunc='sum')

음료수  바닐라라떼  아메리카노  초코라떼  카페라떼  콜드브루
월
1       19     47    17    71    31
2       42     30    25    40    59
3       21     28    34    38    33

In [35]:
# 요일별, 지점별 총매출 합계를 피벗 테이블로 구하되, 총합을 포함하여 표시하시오.


df.pivot_table(index = '요일', columns = '지점', values = '총매출' , aggfunc='sum', fill_value=0, margins=True, margins_name = '총합')

지점     강남점     명동점     신촌점     잠실점     홍대점       총합
요일
금        0  104000       0   86400  162000   352400
목   112000  114400  155000       0       0   381400
수        0       0  150000  120000  171000   441000
월    80000       0  165000   81600       0   326600
일        0  109200       0       0  180000   289200
토   108000       0  145000   76800       0   329800
화   120000   98800       0       0  157500   376300
총합  420000  426400  615000  364800  670500  2496700

![image.png]()