<a href="https://colab.research.google.com/github/JongHyun070105/MachineLearning2025/blob/main/3710%EB%B0%95%EC%A2%85%ED%98%84_Pandas_Series_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series 문제 모음

아래 문제를 순서대로 풀어보세요!

## 문제 1
1. Series 생성하기
 - Python의 리스트 [10, 20, 30, 40, 50]을 이용하여 Pandas Series를 생성하는 코드를 작성하세요.

In [2]:
import pandas as pd
a = list(range(10, 51, 10))
a = pd.Series(a)
print(a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

## 문제 2
2. Series의 인덱스 설정하기
 - 아래와 같은 데이터를 가지는 Pandas Series를 생성하세요.
   데이터: [100, 200, 300, 400]
   인덱스: ['A', 'B', 'C', 'D']

In [5]:
b = pd.Series([100, 200, 300, 400], index=['A', 'B', 'C', 'D'])
b

A    100
B    200
C    300
D    400
dtype: int64

## 문제 3
3. Series의 데이터 타입 확인하기
 - 위에서 만든 Series의 데이터 타입(dtype)을 확인하는 코드를 작성하세요.

In [8]:
print(b.dtype)

int64

## 문제 4
4. Series에서 특정 값 선택하기
 - 위에서 만든 Series에서 인덱스 'B'에 해당하는 값을 출력하는 코드를 작성하세요.

In [12]:
print(b['B'])

200

## 문제 5
5. Series의 여러 개의 원소 선택하기
 - 위의 Series에서 'A'와 'C' 인덱스에 해당하는 값을 선택하는 코드를 작성하세요.

In [13]:
print(b[['A','C']])

A    100
C    300
dtype: int64

## 문제 6
6. Series 값 변경하기
 - 위의 Series에서 'D' 인덱스의 값을 500으로 변경하는 코드를 작성하세요.

In [16]:
b['D'] = 500
print(b)

A    100
B    200
C    300
D    500
dtype: int64

## 문제 7
7. Series의 연산 수행하기
 - Series의 모든 요소에 10을 더하는 코드를 작성하세요.

In [17]:
print(b + 10)

A    110
B    210
C    310
D    510
dtype: int64

## 문제 8
8. Series의 필터링
 - Series에서 값이 250 이상인 요소만 선택하는 코드를 작성하세요.

In [22]:
print(b[b>= 250])

C    300
D    500
dtype: int64

## 문제 9
9. Series를 정렬하기
 - Series를 값을 기준으로 내림차순으로 정렬하는 코드를 작성하세요.

In [23]:
b.sort_values(ascending=False)

D    500
C    300
B    200
A    100
dtype: int64

## 문제 10
10. Series에서 NaN 값 처리하기
 - 아래 데이터를 포함하는 Series를 생성하고, NaN 값을 제거하는 코드를 작성하세요.
   데이터: [10, 20, None, 30, None, 40]

In [25]:
S = pd.Series([10,20,None,30,None,40])
S.dropna()

0    10.0
1    20.0
3    30.0
5    40.0
dtype: float64