<a href="https://colab.research.google.com/github/JongHyun070105/MachineLearning2025/blob/main/3710%EB%B0%95%EC%A2%85%ED%98%84_Chapter4_%EA%B8%B0%EC%B4%88_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EB%A3%A8%EA%B8%B0(_%EC%8B%A4%EC%8A%B5)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

※ 참고 : 데이터는 앞 장과 동일하게 '항공권 가격 예측 데이터(Flight Price Predicton)의 'Clean_Dataset.csv'를 사용하여 실습합니다.

In [1]:
# 실습 데이터 불러오기
import pandas as pd
import numpy as np

data = pd.read_csv('./Clean_Dataset.csv')

# SECTION 01. 필요 데이터 선택하기

## 1. 칼럼명으로 데이터 선택하기

In [2]:
# 하나의 칼럼(departure_time)만 선택하기

data['departure_time']

0               Evening
1         Early_Morning
2         Early_Morning
3               Morning
4               Morning
              ...
300148          Morning
300149        Afternoon
300150    Early_Morning
300151    Early_Morning
300152          Morning
Name: departure_time, Length: 300153, dtype: object

In [3]:
# 여러 개의 칼럼('airline','departure_time','source_city') 선택하기
data[['airline','departure_time','source_city']]

         airline departure_time source_city
0       SpiceJet        Evening       Delhi
1       SpiceJet  Early_Morning       Delhi
2        AirAsia  Early_Morning       Delhi
3        Vistara        Morning       Delhi
4        Vistara        Morning       Delhi
...          ...            ...         ...
300148   Vistara        Morning     Chennai
300149   Vistara      Afternoon     Chennai
300150   Vistara  Early_Morning     Chennai
300151   Vistara  Early_Morning     Chennai
300152   Vistara        Morning     Chennai

[300153 rows x 3 columns]

## 2. 행 범위를 지정하여 데이터 선택하기

In [4]:
# 슬라이싱을 이용하여 10행부터 20행까지의 데이터를 가져오기
data.loc[10:20]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
10,10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954
12,12,Indigo,6E-5001,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
13,13,Indigo,6E-6202,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.17,1,5955
14,14,Indigo,6E-549,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5955
15,15,Indigo,6E-6278,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
16,16,Air_India,AI-887,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.08,1,5955
17,17,Air_India,AI-665,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
18,18,AirAsia,I5-747,Delhi,Evening,one,Early_Morning,Mumbai,Economy,12.25,1,5949
19,19,AirAsia,I5-747,Delhi,Evening,one,Morning,Mumbai,Economy,16.33,1,5949
20,20,GO_FIRST,G8-266,Delhi,Early_Morning,one,Evening,Mumbai,Economy,11.75,1,5954

## 3. 특정 행, 열의 범위를 선택하여 데이터 선택하기

In [5]:
# 인덱스 100번부터 지정하기
data.loc[100:]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
100,100,Vistara,UK-705,Delhi,Early_Morning,one,Night,Mumbai,Economy,12.83,1,18450
101,101,GO_FIRST,G8-191,Delhi,Morning,one,Evening,Mumbai,Economy,8.92,1,18487
102,102,Vistara,UK-819,Delhi,Afternoon,one,Night,Mumbai,Economy,6.00,1,18923
103,103,Vistara,UK-801,Delhi,Morning,one,Night,Mumbai,Economy,11.17,1,18923
104,104,Vistara,UK-815,Delhi,Morning,one,Night,Mumbai,Economy,12.17,1,18923
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [6]:
# loc 사용하기(인덱스 레이블 : 102,202,302 row만 추출하기)
data.loc[[100,102,302]]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
100,100,Vistara,UK-705,Delhi,Early_Morning,one,Night,Mumbai,Economy,12.83,1,18450
102,102,Vistara,UK-819,Delhi,Afternoon,one,Night,Mumbai,Economy,6.00,1,18923
302,302,Indigo,6E-2193,Delhi,Afternoon,one,Night,Mumbai,Economy,8.33,3,11326

In [7]:
# iloc 사용하여 위와 같은 row를 추출하기
data.iloc[[100,102,302]]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
100,100,Vistara,UK-705,Delhi,Early_Morning,one,Night,Mumbai,Economy,12.83,1,18450
102,102,Vistara,UK-819,Delhi,Afternoon,one,Night,Mumbai,Economy,6.00,1,18923
302,302,Indigo,6E-2193,Delhi,Afternoon,one,Night,Mumbai,Economy,8.33,3,11326

In [8]:
# loc를 사용하여 행과 열의 범위 지정하기(102, 202, 302)('airline', 'flight', 'source_city', 'price')
data.loc[[102,202,302],['airline','flight','source_city','price']]

     airline   flight source_city  price
102  Vistara   UK-819       Delhi  18923
202  Vistara   UK-879       Delhi  13673
302   Indigo  6E-2193       Delhi  11326

In [9]:
# iloc를 사용하여 행과 열의 범위 지정하기
data.iloc[[102,202,302],[1,2,3,11]]

     airline   flight source_city  price
102  Vistara   UK-819       Delhi  18923
202  Vistara   UK-879       Delhi  13673
302   Indigo  6E-2193       Delhi  11326

In [10]:
# iloc를 사용하였을 때 칼럼값을 그대로 사용시 에러 발생
data.iloc[[102,202,302],['airline','flight','source_city','price']]

IndexError: .iloc requires numeric indexers, got ['airline' 'flight' 'source_city' 'price']

## 4. 조건으로 데이터 선택하기

In [11]:
# flight DataFrame을 만들기

df = pd.DataFrame(data = pd.read_csv('./Clean_Dataset.csv'))
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [12]:
# boolean 연산으로 조건을 만족하는 데이터만 추출하기
# 조건: price가 12000초과이고, airline이 Air_india인 항목만 추출

print(df.loc[(df['price'] > 12000) & (df['airline'] == 'Air_India')])

        Unnamed: 0    airline  flight source_city departure_time stops  \
40              40  Air_India  AI-504       Delhi          Night   one
41              41  Air_India  AI-502       Delhi      Afternoon   one
42              42  Air_India  AI-506       Delhi        Morning   one
43              43  Air_India  AI-803       Delhi  Early_Morning   one
44              44  Air_India  AI-479       Delhi          Night   one
...            ...        ...     ...         ...            ...   ...
300143      300143  Air_India  AI-440     Chennai  Early_Morning   one
300144      300144  Air_India  AI-539     Chennai        Evening   one
300145      300145  Air_India  AI-430     Chennai        Morning   one
300146      300146  Air_India  AI-440     Chennai  Early_Morning   one
300147      300147  Air_India  AI-569     Chennai  Early_Morning   one

       arrival_time destination_city     class  duration  days_left  price
40          Morning           Mumbai   Economy     11.00          1  12150
41          Morning           Mumbai   Economy     19.08          1  12150
42          Morning           Mumbai   Economy     22.83          1  12150
43          Morning           Mumbai   Economy     26.42          1  12150
44        Afternoon           Mumbai   Economy     17.75          1  12215
...             ...              ...       ...       ...        ...    ...
300143        Night        Hyderabad  Business     17.42         49  51345
300144      Morning        Hyderabad  Business     18.92         49  51345
300145      Morning        Hyderabad  Business     23.08         49  51345
300146      Morning        Hyderabad  Business     26.83         49  51345
300147        Night        Hyderabad  Business     17.25         49  68739

[39689 rows x 12 columns]

In [13]:
# 조건을 별도로 지정하여 데이터 추출하기

## 조건1. : price가 12000 초과
print(df.loc[df['price'] > 12000])


## 조건2. : airline이 Air_India
print(df.loc[df['airline'] == 'Air_India'])


## 조건1, 조건2에 맞는 데이터만 상위 5개 row추출하기
print(df.loc[(df['price'] > 12000) & (df['airline'] == 'Air_India')].head(5))

        Unnamed: 0  airline  flight source_city departure_time stops  \
32              32  Vistara  UK-813       Delhi        Evening   one
33              33  Vistara  UK-817       Delhi        Evening   one
34              34  Vistara  UK-819       Delhi      Afternoon   one
35              35  Vistara  UK-801       Delhi        Morning   one
36              36  Vistara  UK-815       Delhi        Morning   one
...            ...      ...     ...         ...            ...   ...
300148      300148  Vistara  UK-822     Chennai        Morning   one
300149      300149  Vistara  UK-826     Chennai      Afternoon   one
300150      300150  Vistara  UK-832     Chennai  Early_Morning   one
300151      300151  Vistara  UK-828     Chennai  Early_Morning   one
300152      300152  Vistara  UK-822     Chennai        Morning   one

       arrival_time destination_city     class  duration  days_left  price
32          Morning           Mumbai   Economy     14.67          1  12150
33          Morning           Mumbai   Economy     16.17          1  12150
34          Morning           Mumbai   Economy     18.00          1  12150
35          Morning           Mumbai   Economy     23.17          1  12150
36          Morning           Mumbai   Economy     24.17          1  12150
...             ...              ...       ...       ...        ...    ...
300148      Evening        Hyderabad  Business     10.08         49  69265
300149        Night        Hyderabad  Business     10.42         49  77105
300150        Night        Hyderabad  Business     13.83         49  79099
300151      Evening        Hyderabad  Business     10.00         49  81585
300152      Evening        Hyderabad  Business     10.08         49  81585

[113161 rows x 12 columns]
        Unnamed: 0    airline  flight source_city departure_time stops  \
16              16  Air_India  AI-887       Delhi  Early_Morning  zero
17              17  Air_India  AI-665       Delhi  Early_Morning  zero
23              23  Air_India  AI-441       Delhi        Evening   one
37              37  Air_India  AI-453       Delhi  Early_Morning   one
40              40  Air_India  AI-504       Delhi          Night   one
...            ...        ...     ...         ...            ...   ...
300143      300143  Air_India  AI-440     Chennai  Early_Morning   one
300144      300144  Air_India  AI-539     Chennai        Evening   one
300145      300145  Air_India  AI-430     Chennai        Morning   one
300146      300146  Air_India  AI-440     Chennai  Early_Morning   one
300147      300147  Air_India  AI-569     Chennai  Early_Morning   one

       arrival_time destination_city     class  duration  days_left  price
16          Morning           Mumbai   Economy      2.08          1   5955
17          Morning           Mumbai   Economy      2.17          1   5955
23            Night           Mumbai   Economy      3.75          1   5955
37        Afternoon           Mumbai   Economy      8.83          1  11900
40          Morning           Mumbai   Economy     11.00          1  12150
...             ...              ...       ...       ...        ...    ...
300143        Night        Hyderabad  Business     17.42         49  51345
300144      Morning        Hyderabad  Business     18.92         49  51345
300145      Morning        Hyderabad  Business     23.08         49  51345
300146      Morning        Hyderabad  Business     26.83         49  51345
300147        Night        Hyderabad  Business     17.25         49  68739

[80892 rows x 12 columns]
    Unnamed: 0    airline  flight source_city departure_time stops  \
40          40  Air_India  AI-504       Delhi          Night   one
41          41  Air_India  AI-502       Delhi      Afternoon   one
42          42  Air_India  AI-506       Delhi        Morning   one
43          43  Air_India  AI-803       Delhi  Early_Morning   one
44          44  Air_India  AI-479       Delhi          Night   one

   arrival_time destination_city    class  duration  days_left  price
40      Morning           Mumbai  Economy     11.00          1  12150
41      Morning           Mumbai  Economy     19.08          1  12150
42      Morning           Mumbai  Economy     22.83          1  12150
43      Morning           Mumbai  Economy     26.42          1  12150
44    Afternoon           Mumbai  Economy     17.75          1  12215

# SECTION 02. 필요 데이터 변경하기

## 1. 데이터 추가하기

In [14]:
# 기존 데이터프레임의 컬럼을 이용하여 새로운 칼럼 추가하시
# price를 2배로 하는 새로운 컬럼(price2) 만들기

df['price2'] = df['price'] * 2
df['price2']

0          11906
1          11906
2          11912
3          11910
4          11910
           ...
300148    138530
300149    154210
300150    158198
300151    163170
300152    163170
Name: price2, Length: 300153, dtype: int64

In [15]:
# 기존 컬럼의 연산을 통해 새로운 생성하기
# price1과 price2를 더해서 price3컬럼을 생성

df['price3'] = df['price'] + df['price2']
df['price3']

0          17859
1          17859
2          17868
3          17865
4          17865
           ...
300148    207795
300149    231315
300150    237297
300151    244755
300152    244755
Name: price3, Length: 300153, dtype: int64

In [16]:
# 새로운 칼럼 원하는 위치에 넣기
# df.insert(loc, column, value, allow_duplicates=False)
# duration 컬럼 값을 10배로 하여 새로운 duration2 컬럼을 만들고, 10번째 칼럼으로 insert하기


df.insert(10, 'duration2', df['duration'] * 10)
df['duration2']

0          21.7
1          23.3
2          21.7
3          22.5
4          23.3
          ...
300148    100.8
300149    104.2
300150    138.3
300151    100.0
300152    100.8
Name: duration2, Length: 300153, dtype: float64

## 2. 데이터 삭제하기

In [17]:
# drop 메소드 사용하여 데이터 삭제 하기
# drop 메소드를 사용하여 price3컬럼 삭제하기

df.drop('price3', axis = 1,inplace=True)
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left,price,price2
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,21.7,1,5953,11906
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5953,11906
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1,5956,11912
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1,5955,11910
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5955,11910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,69265,138530
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49,77105,154210
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49,79099,158198
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49,81585,163170
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,81585,163170

In [18]:
# drop 메소드를 이용하여 첫번째 행을 삭제하기 /axis 속성 이해)

df.drop(axis=0,index=0,inplace=True)

In [19]:
# 첫 행 데이터 지워진 것 확인하기

df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left,price,price2
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5953,11906
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1,5956,11912
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1,5955,11910
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5955,11910
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1,5955,11910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,69265,138530
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49,77105,154210
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49,79099,158198
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49,81585,163170
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,81585,163170

In [20]:
# 데이터 삭제 후 새로운 데이터프레임에 저장하기1
# drop메소드를 활용하여 데이터를 지운 후 다른 데이터프레임에 저장하는 방법

df.drop('price2',axis=1,inplace = True)
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left,price
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49,81585

In [21]:
# drop 메소드의 inplace 속성 확인하기
# drop메소드를 활용하여 데이터를 지울 때 inplace 속성을 True로 설정하기
df.drop('price',axis=1,inplace = True)
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49

## 3. 칼럼명 변경하기

In [25]:
# rename 이용하여 칼럼명 변경하기
# airline  -> airline_name
# source_city   -> departure_city
# rename 메소드 활용하기


df.rename(columns = {'airline':'airline_name','source_city':'departure_city'},inplace=True)
df

,Unnamed: 0,airline_name,flight,departure_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49

## 4. 데이터프레임 정렬하기

In [28]:
# sort_values 메소드와 ascending 매개변수 지정하여 데이터 프레임 오름차순으로 정렬하기
# 맨 앞의 컬럼인 Unnamed:0 컬럼을 기준으로 역순으로 정렬하기

df.sort_values(by='Unnamed: 0')

,Unnamed: 0,airline_name,flight,departure_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49

In [29]:
# sort_values 메소드와 ascending 매개변수 지정하여 데이터 프레임 내림차순으로 정렬하기

df.sort_values(by='Unnamed: 0',ascending = False)

,Unnamed: 0,airline_name,flight,departure_city,departure_time,stops,arrival_time,destination_city,class,duration,duration2,days_left
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,100.0,49
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,138.3,49
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,104.2,49
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,100.8,49
...,...,...,...,...,...,...,...,...,...,...,...,...
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,23.3,1
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,22.5,1
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,21.7,1
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,23.3,1

# SECTION 03. 데이터 프레임 변형하기


##### ※ 앞서 진행한 실습을 이어서 진행하실 경우 실습을 진행하실 수 있으나, 실습코드가 반영되어 결과값의 차이가 있을 수 있습니다.
#####    실습 데이터를 다시 불러온 후 데이터프레임을 만들어 실습을 진행 합니다.

In [30]:
# csv파일 불러와서 flight DataFrame (flight)만들기

flight = pd.DataFrame(data = pd.read_csv('./Clean_Dataset.csv'))

## 1. 그룹화 하기

### 1) groupby 활용하기

In [63]:
# airline 칼럼 기준으로 그룹화하고, airline_group에 저장하기

airline_group = flight.groupby('airline')
airline_group

In [62]:
## 수행결과 데이터 프레임으로 그룹까지 생성됨.
## 그룹화된 결과를 확인하기 위해서는 groups속성을 이용
# 수행 결과 확인하기

airline_group.groups

{'AirAsia': [2, 18, 19, 27, 48, 141, 147, 148, 157, 265, 290, 325, 435, 450, 608, 609, 623, 706, 746, 782, 783, 784, 814, 978, 993, 1085, 1088, 1133, 1210, 1248, 1261, 1284, 1323, 1341, 1343, 1461, 1466, 1483, 1526, 1583, 1685, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1728, 1759, 1760, 1761, 1762, 1866, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1947, 1972, 1974, 1976, 1977, 1991, 1992, 2083, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2167, 2194, 2196, 2264, 2265, 2292, 2305, 2350, 2351, 2352, 2353, 2354, 2355, 2397, 2422, 2423, 2443, 2444, 2465, 2484, ...], 'Air_India': [16, 17, 23, 37, 40, 41, 42, 43, 44, 49, 50, 51, 52, 53, 60, 71, 74, 75, 82, 86, 87, 96, 98, 107, 108, 110, 113, 114, 115, 117, 142, 143, 144, 145, 146, 151, 152, 162, 163, 164, 166, 168, 173, 182, 189, 191, 193, 195, 196, 197, 198, 199, 207, 211, 223, 225, 229, 236, 237, 241, 242, 243, 247, 250, 266, 267, 268, 269, 272, 280, 291, 295, 303, 309, 314, 315, 316, 319, 321, 329, 333, 343, 352, 357, 361, 362, 363, 372, 376, 379, 380, 381, 385, 387, 388, 390, 391, 392, 393, 394, ...], 'GO_FIRST': [8, 9, 10, 11, 20, 21, 22, 30, 68, 72, 101, 112, 126, 127, 128, 129, 130, 131, 149, 150, 200, 201, 208, 212, 213, 222, 232, 235, 244, 245, 257, 258, 259, 260, 270, 271, 277, 278, 281, 296, 312, 313, 317, 327, 328, 342, 366, 368, 371, 384, 389, 413, 414, 415, 416, 417, 418, 436, 437, 438, 439, 440, 441, 442, 455, 465, 469, 490, 491, 496, 497, 535, 552, 586, 587, 588, 589, 590, 591, 610, 611, 612, 613, 614, 615, 616, 617, 627, 639, 640, 646, 668, 669, 672, 673, 675, 691, 762, 763, 764, ...], 'Indigo': [12, 13, 14, 15, 24, 26, 29, 31, 54, 55, 56, 57, 58, 67, 79, 81, 132, 133, 134, 135, 136, 137, 139, 140, 158, 159, 167, 170, 171, 172, 174, 175, 180, 181, 190, 224, 226, 228, 261, 262, 263, 264, 282, 283, 284, 285, 286, 287, 292, 297, 301, 302, 307, 308, 310, 323, 324, 332, 337, 348, 353, 354, 358, 359, 360, 419, 420, 421, 422, 424, 425, 426, 427, 428, 445, 446, 447, 451, 454, 456, 457, 458, 459, 466, 479, 488, 489, 522, 524, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 625, ...], 'SpiceJet': [0, 1, 28, 38, 39, 45, 80, 118, 119, 138, 160, 161, 194, 227, 251, 252, 253, 274, 275, 294, 306, 311, 331, 398, 399, 400, 401, 402, 403, 423, 444, 448, 449, 452, 520, 540, 563, 564, 565, 566, 567, 568, 569, 570, 619, 620, 621, 622, 624, 665, 738, 739, 740, 741, 742, 743, 744, 745, 799, 800, 802, 844, 877, 898, 919, 920, 921, 922, 923, 924, 925, 971, 974, 975, 1049, 1092, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1150, 1155, 1200, 1243, 1281, 1286, 1287, 1288, 1289, 1290, 1291, 1331, 1332, 1368, 1369, 1412, ...], 'Vistara': [3, 4, 5, 6, 7, 25, 32, 33, 34, 35, 36, 46, 47, 59, 61, 62, 63, 64, 65, 66, 69, 70, 73, 76, 77, 78, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99, 100, 102, 103, 104, 105, 106, 109, 111, 116, 120, 121, 122, 123, 124, 125, 153, 154, 155, 156, 165, 169, 176, 177, 178, 179, 183, 184, 185, 186, 187, 188, 192, 202, 203, 204, 205, 206, 209, 210, 214, 215, 216, 217, 218, 219, 220, 221, 230, 231, 233, 234, 238, 239, 240, 246, 248, 249, 254, 255, 256, 273, ...]}

In [38]:
# 데이터 수 확인하기
# count: 데이터개수
# size:집단별 크기
# sum : 데이터 합
# mean, std, var : 평균, 표준편차, 분산
# min, max : 최소값, 최대값

print(airline_group.count())

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
airline,,,,,,,,,,,
AirAsia,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098
Air_India,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892
GO_FIRST,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173
Indigo,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120
SpiceJet,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011
Vistara,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859

In [39]:
# 최솟값 확인하기
print(airline_group.min())

           Unnamed: 0   flight source_city departure_time stops arrival_time  \
airline
AirAsia             2  I5-1228   Bangalore      Afternoon   one    Afternoon
Air_India          16   AI-401   Bangalore      Afternoon   one    Afternoon
GO_FIRST            8   G8-101   Bangalore      Afternoon   one    Afternoon
Indigo             12   6E-102   Bangalore      Afternoon   one    Afternoon
SpiceJet            0  SG-1031   Bangalore      Afternoon   one    Afternoon
Vistara             3   UK-613   Bangalore      Afternoon   one    Afternoon

          destination_city     class  duration  days_left  price
airline
AirAsia          Bangalore   Economy      0.92          1   1105
Air_India        Bangalore  Business      1.00          1   1526
GO_FIRST         Bangalore   Economy      1.00          1   1105
Indigo           Bangalore   Economy      0.83          1   1105
SpiceJet         Bangalore   Economy      1.00          1   1106
Vistara          Bangalore  Business      1.00          1   1714

In [58]:
# 평균값 확인하기
num_col = flight.select_dtypes(include=[np.number])
print(num_col.mean())

Unnamed: 0    150076.000000
duration          12.221021
days_left         26.004751
price          20889.660523
dtype: float64

In [53]:
# 특정 칼럼 값만 확인하기
print(num_col['price'].mean())

20889.660523133203

In [57]:
# groupby를 활용하여 다중 인덱싱(multi-indexing)설정하기
#'airline'별 'arrival_time'에 따른 평균값 확인하기

numeric_columns = flight.select_dtypes(include=[np.number])

# 다중 인덱스 설정 후 평균 계산
flight.set_index(['airline', 'arrival_time'])[numeric_columns.columns].groupby(level=[0]).mean()

              Unnamed: 0   duration  days_left         price
airline
AirAsia     95102.971922   8.941714  27.735184   4091.072742
Air_India  162945.107007  15.504235  25.497466  23507.019112
GO_FIRST    87630.797005   8.755380  27.430415   5652.007595
Indigo     110102.972658   5.795197  26.264309   5324.216303
SpiceJet    91878.408834  12.579767  24.122850   6179.278881
Vistara    177755.288310  13.326634  25.894532  30396.536302

In [67]:
# 여러 개의 칼럼('airline', 'arrival_time')을 groupby하여 새로운 데이터프레임(mul_airline_group) 생성하기

mul_airline_group = flight.groupby(['airline','arrival_time'])

# 새롭게 생성된 mul_airline_group의 평균값 확인하기
mul_airline_group.mean()

AttributeError: 'DataFrameGroupBy' object has no attribute 'astype'

In [ ]:
# groupby 후 원하는 데이터만 가지고 오기
#'airline', 'arrival_time'을 그룹화하여 그룹별 평균값 중에서 'AirAsia'의 'Evening' 정보만 가져오시오.