<a href="https://colab.research.google.com/github/JongHyun070105/MachineLearning2025/blob/main/3710%EB%B0%95%EC%A2%85%ED%98%84_Pandas_DataFrame_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas DataFrame 실습 문제

아래 문제를 풀어보세요!

In [ ]:
data1 = {
    '이름': ['철수', '영희', '민수', '지수', '현우', '수빈', '도현', '나연', '지훈', '윤아'],
    '나이': [20, 22, 21, 23, 24, 20, 22, 21, 23, 22],
    '성별': ['남', '여', '남', '여', '남', '여', '남', '여', '남', '여'],
    '거주지': ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '서울', '부산', '대구'],
    '학점': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'B'],
    '전공': ['컴퓨터공학', '경영학', '경제학', '심리학', '법학', '의학', '사회학', '교육학', '화학', '영문학']
}

## 딕셔너리를 이용한 문제 1
1. 딕셔너리를 사용하여 DataFrame을 생성하세요.
   - 아래 데이터를 이용하세요.
   - 데이터:
   {'이름': ['철수', '영희', '민수', '지수', '현우', '수빈', '도현', '나연', '지훈', '윤아'],
   '나이': [20, 22, 21, 23, 24, 20, 22, 21, 23, 22],
   '성별': ['남', '여', '남', '여', '남', '여', '남', '여', '남', '여'],
   '거주지': ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '서울', '부산', '대구'],
   '학점': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'B'], '전공': ['컴퓨터공학', '경영학', '경제학', '심리학', '법학', '의학', '사회학', '교육학', '화학', '영문학']}

In [3]:
import pandas as pd
data = {'이름': ['철수', '영희', '민수', '지수', '현우', '수빈', '도현', '나연', '지훈', '윤아'], '나이': [20, 22, 21, 23, 24, 20, 22, 21, 23, 22], '성별': ['남', '여', '남', '여', '남', '여', '남', '여', '남', '여'], '거주지': ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '서울', '부산', '대구'], '학점': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'B'], '전공': ['컴퓨터공학', '경영학', '경제학', '심리학', '법학', '의학', '사회학', '교육학', '화학', '영문학']}

df = pd.DataFrame(data)
df

   이름  나이 성별 거주지 학점     전공
0  철수  20  남  서울  A  컴퓨터공학
1  영희  22  여  부산  B    경영학
2  민수  21  남  대구  A    경제학
3  지수  23  여  인천  C    심리학
4  현우  24  남  광주  B     법학
5  수빈  20  여  대전  A     의학
6  도현  22  남  울산  C    사회학
7  나연  21  여  서울  B    교육학
8  지훈  23  남  부산  A     화학
9  윤아  22  여  대구  B    영문학

## 딕셔너리를 이용한 문제 2
2. 딕셔너리를 사용하여 DataFrame을 생성한 후, 특정 열을 선택하여 출력하세요.
   - '이름' 열만 출력하세요.

In [4]:
df['이름']

0    철수
1    영희
2    민수
3    지수
4    현우
5    수빈
6    도현
7    나연
8    지훈
9    윤아
Name: 이름, dtype: object

## 딕셔너리를 이용한 문제 3
3. 딕셔너리를 사용하여 DataFrame을 생성한 후, 특정 행을 선택하여 출력하세요.
   - 첫 번째 행을 선택하세요.

In [38]:
df[:1]

    나이 성별 거주지 학점     전공    출산지
이름
철수  21  남  서울  A  컴퓨터공학  대한민국

## 딕셔너리를 이용한 문제 4
4. 딕셔너리를 사용하여 DataFrame을 생성한 후, 인덱스를 지정하세요.
   - '이름' 열을 인덱스로 설정하세요.

In [9]:
df.set_index('이름', inplace=True)
df

    나이 성별 거주지 학점     전공
이름
철수  20  남  서울  A  컴퓨터공학
영희  22  여  부산  B    경영학
민수  21  남  대구  A    경제학
지수  23  여  인천  C    심리학
현우  24  남  광주  B     법학
수빈  20  여  대전  A     의학
도현  22  남  울산  C    사회학
나연  21  여  서울  B    교육학
지훈  23  남  부산  A     화학
윤아  22  여  대구  B    영문학

## 딕셔너리를 이용한 문제 5
5. 딕셔너리를 사용하여 DataFrame을 생성한 후, 새로운 열을 추가하세요.
   - '출신지' 열을 추가하고 모든 값을 '대한민국'으로 설정하세요.

In [12]:
df['출산지'] = [f'대한민국 ' for i in range (1,11)]
df['출산지']

이름
철수    대한민국
영희    대한민국
민수    대한민국
지수    대한민국
현우    대한민국
수빈    대한민국
도현    대한민국
나연    대한민국
지훈    대한민국
윤아    대한민국
Name: 출산지, dtype: object

## 딕셔너리를 이용한 문제 6
6. 딕셔너리를 사용하여 DataFrame을 생성한 후, 특정 열의 데이터를 변경하세요.
   - '나이' 열의 값을 모두 1 증가시키세요.

In [13]:
df['나이'] = df['나이'] + 1
df['나이']

이름
철수    21
영희    23
민수    22
지수    24
현우    25
수빈    21
도현    23
나연    22
지훈    24
윤아    23
Name: 나이, dtype: int64

## 딕셔너리를 이용한 문제 7
7. 딕셔너리를 사용하여 DataFrame을 생성한 후, 정렬하세요.
   - '나이'를 기준으로 오름차순 정렬하세요.

In [14]:
df['나이'].sort_values()

이름
철수    21
수빈    21
나연    22
민수    22
도현    23
영희    23
윤아    23
지수    24
지훈    24
현우    25
Name: 나이, dtype: int64

## 딕셔너리를 이용한 문제 8
8. 딕셔너리를 사용하여 DataFrame을 생성한 후, 특정 조건을 만족하는 행을 선택하세요.
   - '나이'가 21 이상인 행만 선택하세요.

In [21]:
df['나이'][df['나이'] > 21]

이름
영희    23
민수    22
지수    24
현우    25
도현    23
나연    22
지훈    24
윤아    23
Name: 나이, dtype: int64

## 딕셔너리를 이용한 문제 9
9. 딕셔너리를 사용하여 DataFrame을 생성한 후, 중복된 데이터를 제거하세요.
   - 중복된 행을 제거하세요.

In [26]:
df.drop_duplicates()

    나이 성별 거주지 학점     전공    출산지
이름
철수  21  남  서울  A  컴퓨터공학  대한민국
영희  23  여  부산  B    경영학  대한민국
민수  22  남  대구  A    경제학  대한민국
지수  24  여  인천  C    심리학  대한민국
현우  25  남  광주  B     법학  대한민국
수빈  21  여  대전  A     의학  대한민국
도현  23  남  울산  C    사회학  대한민국
나연  22  여  서울  B    교육학  대한민국
지훈  24  남  부산  A     화학  대한민국
윤아  23  여  대구  B    영문학  대한민국

## 딕셔너리를 이용한 문제 10
10. 딕셔너리를 사용하여 DataFrame을 생성한 후, 특정 열을 삭제하세요.
   - '성별' 열을 삭제하세요.

In [27]:
data2= [
    ['철수', 20, '남', '서울', 'A', '컴퓨터공학'],
    ['영희', 22, '여', '부산', 'B', '경영학'],
    ['민수', 21, '남', '대구', 'A', '경제학'],
    ['지수', 23, '여', '인천', 'C', '심리학'],
    ['현우', 24, '남', '광주', 'B', '법학'],
    ['수빈', 20, '여', '대전', 'A', '의학'],
    ['도현', 22, '남', '울산', 'C', '사회학'],
    ['나연', 21, '여', '서울', 'B', '교육학'],
    ['지훈', 23, '남', '부산', 'A', '화학'],
    ['윤아', 22, '여', '대구', 'B', '영문학']
]

In [36]:
df2 = pd.DataFrame(data2,columns=['이름', '나이', '성별', '거주지', '학점', '전공'])
df2 = df2.drop('성별',axis = 1)
df2

   이름  나이 거주지 학점     전공
0  철수  20  서울  A  컴퓨터공학
1  영희  22  부산  B    경영학
2  민수  21  대구  A    경제학
3  지수  23  인천  C    심리학
4  현우  24  광주  B     법학
5  수빈  20  대전  A     의학
6  도현  22  울산  C    사회학
7  나연  21  서울  B    교육학
8  지훈  23  부산  A     화학
9  윤아  22  대구  B    영문학

## 리스트를 이용한 문제 1
1. 리스트를 사용하여 DataFrame을 생성하세요.
   - 아래 데이터를 이용하세요.
   - 데이터: [['철수', 20, '남', '서울', 'A', '컴퓨터공학'], ['영희', 22, '여', '부산', 'B', '경영학'], ['민수', 21, '남', '대구', 'A', '경제학'], ['지수', 23, '여', '인천', 'C', '심리학'], ['현우', 24, '남', '광주', 'B', '법학'], ['수빈', 20, '여', '대전', 'A', '의학'], ['도현', 22, '남', '울산', 'C', '사회학'], ['나연', 21, '여', '서울', 'B', '교육학'], ['지훈', 23, '남', '부산', 'A', '화학'], ['윤아', 22, '여', '대구', 'B', '영문학']]

In [55]:
data = [['철수', 20, '남', '서울', 'A', '컴퓨터공학'], ['영희', 22, '여', '부산', 'B', '경영학'], ['민수', 21, '남', '대구', 'A', '경제학'], ['지수', 23, '여', '인천', 'C', '심리학'], ['현우', 24, '남', '광주', 'B', '법학'], ['수빈', 20, '여', '대전', 'A', '의학'], ['도현', 22, '남', '울산', 'C', '사회학'], ['나연', 21, '여', '서울', 'B', '교육학'], ['지훈', 23, '남', '부산', 'A', '화학'], ['윤아', 22, '여', '대구', 'B', '영문학']]

df3 = pd.DataFrame(data)
df3

    0   1  2   3  4      5
0  철수  20  남  서울  A  컴퓨터공학
1  영희  22  여  부산  B    경영학
2  민수  21  남  대구  A    경제학
3  지수  23  여  인천  C    심리학
4  현우  24  남  광주  B     법학
5  수빈  20  여  대전  A     의학
6  도현  22  남  울산  C    사회학
7  나연  21  여  서울  B    교육학
8  지훈  23  남  부산  A     화학
9  윤아  22  여  대구  B    영문학

## 리스트를 이용한 문제 2
2. 리스트를 사용하여 DataFrame을 생성한 후, 컬럼명을 지정하세요.
   - 컬럼명: ['이름', '나이', '성별', '거주지', '학점', '전공']

In [56]:
col = ['이름', '나이', '성별', '거주지', '학점', '전공']
df3.columns = col
df3

   이름  나이 성별 거주지 학점     전공
0  철수  20  남  서울  A  컴퓨터공학
1  영희  22  여  부산  B    경영학
2  민수  21  남  대구  A    경제학
3  지수  23  여  인천  C    심리학
4  현우  24  남  광주  B     법학
5  수빈  20  여  대전  A     의학
6  도현  22  남  울산  C    사회학
7  나연  21  여  서울  B    교육학
8  지훈  23  남  부산  A     화학
9  윤아  22  여  대구  B    영문학

## 리스트를 이용한 문제 3
3. 리스트를 사용하여 DataFrame을 생성한 후, 특정 열을 선택하여 출력하세요.
   - '이름' 열만 출력하세요.

In [57]:
df3['이름']

0    철수
1    영희
2    민수
3    지수
4    현우
5    수빈
6    도현
7    나연
8    지훈
9    윤아
Name: 이름, dtype: object

## 리스트를 이용한 문제 4
4. 리스트를 사용하여 DataFrame을 생성한 후, 특정 행을 선택하여 출력하세요.
   - 첫 번째 행을 선택하세요.

In [58]:
df3[:1]

   이름  나이 성별 거주지 학점     전공
0  철수  20  남  서울  A  컴퓨터공학

## 리스트를 이용한 문제 5
5. 리스트를 사용하여 DataFrame을 생성한 후, 인덱스를 설정하세요.
   - '1번', '2번', '3번' ... '10번' 인덱스를 사용하세요.

In [59]:
df3.index = [f'{i}번' for i in range(1,11)]
df3

     이름  나이 성별 거주지 학점     전공
1번   철수  20  남  서울  A  컴퓨터공학
2번   영희  22  여  부산  B    경영학
3번   민수  21  남  대구  A    경제학
4번   지수  23  여  인천  C    심리학
5번   현우  24  남  광주  B     법학
6번   수빈  20  여  대전  A     의학
7번   도현  22  남  울산  C    사회학
8번   나연  21  여  서울  B    교육학
9번   지훈  23  남  부산  A     화학
10번  윤아  22  여  대구  B    영문학

## 리스트를 이용한 문제 6
6. 리스트를 사용하여 DataFrame을 생성한 후, 특정 열을 추가하세요.
   - '출신지' 열을 추가하고 모든 값을 '대한민국'으로 설정하세요.

In [60]:
df3['출산지'] = [f'대한민국' for i in range(1,11)]
df3['출산지']

1번     대한민국
2번     대한민국
3번     대한민국
4번     대한민국
5번     대한민국
6번     대한민국
7번     대한민국
8번     대한민국
9번     대한민국
10번    대한민국
Name: 출산지, dtype: object

## 리스트를 이용한 문제 7
7. 리스트를 사용하여 DataFrame을 생성한 후, 특정 열의 값을 변경하세요.
   - '나이' 열의 값을 모두 1 증가시키세요.

In [62]:
df3['나이'] = df3['나이'] + 1
df3['나이']

1번     22
2번     24
3번     23
4번     25
5번     26
6번     22
7번     24
8번     23
9번     25
10번    24
Name: 나이, dtype: int64

## 리스트를 이용한 문제 8
8. 리스트를 사용하여 DataFrame을 생성한 후, 정렬하세요.
   - '나이'를 기준으로 오름차순 정렬하세요.

In [63]:
df3['나이'].sort_values()

1번     22
6번     22
8번     23
3번     23
7번     24
2번     24
10번    24
4번     25
9번     25
5번     26
Name: 나이, dtype: int64

## 리스트를 이용한 문제 9
9. 리스트를 사용하여 DataFrame을 생성한 후, 특정 조건을 만족하는 행을 선택하세요.
   - '나이'가 21 이상인 행만 선택하세요.

In [64]:
df3['나이'][df3['나이'] > 21]

1번     22
2번     24
3번     23
4번     25
5번     26
6번     22
7번     24
8번     23
9번     25
10번    24
Name: 나이, dtype: int64

## 리스트를 이용한 문제 10
10. 리스트를 사용하여 DataFrame을 생성한 후, 특정 열을 삭제하세요.
   - '성별' 열을 삭제하세요.

In [66]:
df3.drop('성별',axis = 1)

     이름  나이 거주지 학점     전공   출산지
1번   철수  22  서울  A  컴퓨터공학  대한민국
2번   영희  24  부산  B    경영학  대한민국
3번   민수  23  대구  A    경제학  대한민국
4번   지수  25  인천  C    심리학  대한민국
5번   현우  26  광주  B     법학  대한민국
6번   수빈  22  대전  A     의학  대한민국
7번   도현  24  울산  C    사회학  대한민국
8번   나연  23  서울  B    교육학  대한민국
9번   지훈  25  부산  A     화학  대한민국
10번  윤아  24  대구  B    영문학  대한민국